/*
	* _page.scss 
	*
*/

.#{$sh}{
	&-main{				
		width:100%;
		overflow: auto;
    	height: 100%;
		&--bg{
			background-color: #e8ecf3;
		}

		&--boxed{

		}
	}

	&-content{	
		margin: 0 auto;	
		
	}

	&-page{		
		margin: auto;
		padding: 20px 15px;

		&--boxed{
			width:1170px;
		}
	}

	&-tag{
		background-color: #f5f5f5;
    	font-size: 12px;
    	padding: 4px;
		display: inline-block;
	}
}

@media(max-width: 960px) {
    
	.#{$sh}{
		&-page{	
			&--boxed{
				width:auto;
			}
		}		
	}
}