/*
	* _calender.scss - UI Calender Widget
	*
*/

.#{$sh}-calendar{
    $calendar : &;
    display: inline-block;
    margin-bottom: 10px;

    &:after{
        @extend #after-clear;
    }

    #{$calendar}__selected{
        display: inline-block;
        padding: 15px;
        background-color:map-get($theme, pri-color);
        @include square(200px);
        float:left;  

        &-day{
            color: #fff;
            font-size: 100px;
            text-align: center;
            font-weight: 600;
        }      
    }

    #{$calendar}__month{
        display: inline-block;
        @include square(200px);
        float:left;

        .datepicker{
            padding: 16px;
            background-color: #edeef0;
            

            .prev,.picker-switch,.next{
                padding: 0;
                width: 15px;
                line-height: 20px;
                height: 15px;
                border-radius: 0;
                &:hover{
                    background-color: #d1d4d9;
                }
            }


            .picker-switch{
                text-transform: uppercase;
                font-size: 12px;
            }

            &-days{
                .dow,.day{
                    
                    padding: 0;
                    font-size: 10px;
                    width: 15px;
                    line-height: 20px;
                    height: 15px;
                    border-radius: 0;
                }     

                .dow{
                    height: 28px;
                    line-height: 28px;
                }       

                .day{                    
                    &.active{
                        outline: solid 1px map-get($theme, pri-color);
                        background: transparent;
                        color: initial;
                        text-shadow: none;
                    }

                    &.today{
                        background: map-get($theme, pri-color);
                        color: #fff;
                        &:hover{
                            background-color:map-get($theme, pri-color);
                        }
                        &:before{
                            display: none;
                        }
                    }

                    &:hover{
                        background-color: #d1d4d9;
                    }
                }    
            }
        }
    }

    #{$calendar}__control{
        @extend #list;
        &:after{
            @extend #after-clear;
        }        

        &-prev,&-next,&-day{
            display: inline-block;
            float: left;
            width: 24px;
            line-height: 20px;
            height: 20px;
            border-radius: 0;
            text-align: center;
            color:#fff;
        }

        &-prev,&-next{
            cursor:pointer;
        }

        &-day{
            width: calc(100% - 48px);
            font-size: 12px;
            text-transform: uppercase;
            font-weight: 600;
        }
    }
}
